[submodule "packages/hrbrlife/BLOOM_FINAL"]
	path = packages/hrbrlife/BLOOM_FINAL
	url = https://github.com/hrbrlife/BLOOM_FINAL.git
	branch = publish
[submodule "packages/hrbrlife/INSTASYS_MAIL"]
	path = packages/hrbrlife/INSTASYS_MAIL
	url = https://github.com/hrbrlife/INSTASYS_MAIL.git
	branch = publish
[submodule "packages/hrbrlife/CHEESESPREAD"]
	path = packages/hrbrlife/CHEESESPREAD
	url = https://github.com/hrbrlife/CHEESESPREAD.git
	branch = publish
