[submodule "packages/hrbrlife/INSTASYS_MAIL"]
	path = packages/hrbrlife/INSTASYS_MAIL
	url = https://github.com/hrbrlife/INSTASYS_MAIL.git
	branch = publish
[submodule "packages/hrbrlife/MiniGit"]
	path = packages/hrbrlife/MiniGit
	url = https://github.com/hrbrlife/MiniGit.git
	branch = publish
[submodule "packages/hrbrlife/MELUSINA_BOTMOTHER"]
	path = packages/hrbrlife/MELUSINA_BOTMOTHER
	url = https://github.com/hrbrlife/MELUSINA_BOTMOTHER.git
	branch = publish
[submodule "packages/hrbrlife/melusina-galactic-council"]
	path = packages/hrbrlife/melusina-galactic-council
	url = https://github.com/hrbrlife/melusina-galactic-council.git
	branch = main
	fetchRecurseSubmodules = false
[submodule "packages/hrbrlife/client_collection"]
	path = packages/hrbrlife/client_collection
	url = https://github.com/hrbrlife/clientspace.git
	branch = dev-publish
[submodule "packages/hrbrlife/openclaw-main"]
	path = packages/hrbrlife/openclaw-main
	url = https://github.com/hrbrlife/openclaw-melusina.git
	branch = publish
[submodule "packages/hrbrlife/melusina-bureau-doc-app"]
	path = packages/hrbrlife/melusina-bureau-doc-app
	url = https://github.com/hrbrlife/melusina-bureau-doc-app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-bureau-diagram-app"]
	path = packages/hrbrlife/melusina-bureau-diagram-app
	url = https://github.com/hrbrlife/melusina-bureau-diagram-app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-bureau-paint-app"]
	path = packages/hrbrlife/melusina-bureau-paint-app
	url = https://github.com/hrbrlife/melusina-bureau-paint-app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-bureau-sheets-app"]
	path = packages/hrbrlife/melusina-bureau-sheets-app
	url = https://github.com/hrbrlife/melusina-bureau-sheets-app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-namedcoin-app"]
	path = packages/hrbrlife/melusina-namedcoin-app
	url = https://github.com/hrbrlife/melusina-namedcoin-app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-bureau-notes-app"]
	path = packages/hrbrlife/melusina-bureau-notes-app
	url = https://github.com/hrbrlife/melusina_bureau_notes_app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-bureau-cal-app"]
	path = packages/hrbrlife/melusina-bureau-cal-app
	url = https://github.com/hrbrlife/melusina_bureau_cal_app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-consilium-app"]
	path = packages/hrbrlife/melusina-consilium-app
	url = https://github.com/hrbrlife/melusina_consilium_app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-canboard-app"]
	path = packages/hrbrlife/melusina-canboard-app
	url = https://github.com/hrbrlife/melusina_canboard_app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-cratelink-app"]
	path = packages/hrbrlife/melusina-cratelink-app
	url = https://github.com/hrbrlife/melusina_cratelink_app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-bureau-contacts-app"]
	path = packages/hrbrlife/melusina-bureau-contacts-app
	url = https://github.com/hrbrlife/melusina_bureau_contacts_app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-ccash-client-app"]
	path = packages/hrbrlife/melusina-ccash-client-app
	url = https://github.com/hrbrlife/melusina_ccash_client_app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-ccash-org-member-app"]
	path = packages/hrbrlife/melusina-ccash-org-member-app
	url = https://github.com/hrbrlife/melusina_ccash_org_member_app.git
	branch = publish
[submodule "packages/hrbrlife/MLSNA_token"]
	path = packages/hrbrlife/MLSNA_token
	url = https://github.com/hrbrlife/MLSNA_token.git
	branch = publish
[submodule "packages/hrbrlife/GoldKey"]
	path = packages/hrbrlife/GoldKey
	url = https://github.com/hrbrlife/GoldKey.git
	branch = publish
