[submodule "packages/hrbrlife/BLOOM_FINAL"]
	path = packages/hrbrlife/BLOOM_FINAL
	url = https://github.com/hrbrlife/BLOOM_FINAL.git
	branch = publish
[submodule "packages/hrbrlife/INSTASYS_MAIL"]
	path = packages/hrbrlife/INSTASYS_MAIL
	url = https://github.com/hrbrlife/INSTASYS_MAIL.git
	branch = publish
[submodule "packages/hrbrlife/MiniGit"]
	path = packages/hrbrlife/MiniGit
	url = https://github.com/hrbrlife/MiniGit.git
	branch = publish
[submodule "packages/hrbrlife/MELUSINA_BOTMOTHER"]
	path = packages/hrbrlife/MELUSINA_BOTMOTHER
	url = https://github.com/hrbrlife/MELUSINA_BOTMOTHER.git
	branch = publish
[submodule "packages/hrbrlife/Melusina"]
	path = packages/hrbrlife/Melusina
	url = https://github.com/hrbrlife/Melusina.git
	branch = pbay-app
	fetchRecurseSubmodules = false
[submodule "packages/hrbrlife/melusina-galactic-council"]
	path = packages/hrbrlife/melusina-galactic-council
	url = https://github.com/hrbrlife/melusina-galactic-council        branch = main
[submodule "packages/hrbrlife/AITX-Procedures"]
	path = packages/hrbrlife/AITX-Procedures
	url = https://github.com/hrbrlife/AITX-Procedures.git
	branch = publish
[submodule "packages/hrbrlife/client_collection"]
	path = packages/hrbrlife/client_collection
	url = https://github.com/hrbrlife/clientspace.git
	branch = publish
[submodule "packages/hrbrlife/ccash"]
	path = packages/hrbrlife/ccash
	url = https://github.com/hrbrlife/ccash_go_htmx.git
	branch = publish
[submodule "packages/hrbrlife/openclaw-main"]
	path = packages/hrbrlife/openclaw-main
	url = https://github.com/hrbrlife/openclaw-melusina.git
	branch = publish
[submodule "packages/hrbrlife/instaco-app"]
	path = packages/hrbrlife/instaco-app
	url = https://github.com/hrbrlife/melusina-instaco-app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-bureau-doc-app"]
	path = packages/hrbrlife/melusina-bureau-doc-app
	url = https://github.com/hrbrlife/melusina-bureau-doc-app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-bureau-diagram-app"]
	path = packages/hrbrlife/melusina-bureau-diagram-app
	url = https://github.com/hrbrlife/melusina-bureau-diagram-app.git
	branch = publish
[submodule "packages/hrbrlife/melusina-bureau-paint-app"]
	path = packages/hrbrlife/melusina-bureau-paint-app
	url = https://github.com/hrbrlife/melusina-bureau-paint-app.git
	branch = publish
